section.hero-section {
  background-color: black;
}
section.hero-section h1 {
  color: white;
}
footer {
  background-color: black;
}
footer p {
  color: white;
}
footer h1 {
  color: white;
}
h1.Item {
  font-family: "Roboto", sans-serif;

  font-weight: 900;

  font-size: 44px;

  line-height: 60px;
  
  letter-spacing: 6%;

  text-align: center;

  text-transform: uppercase;
}
li.help a {
  font-family: "Roboto", sans-serif;

  font-weight: 500;

  font-size: 14px;

  line-height: 100%;

  letter-spacing: 2%;
}
div.hero-content h1 {
  font-family: "Roboto", sans-serif;
  
  font-weight: 700;

  font-size: 36px;

  line-height: 100%;

  letter-spacing: 3%;

  text-align: center;
}
ul.help-list li h2 {
font-family: "Roboto", sans-serif; 

  font-weight: 700;

  font-size: 14px;

  line-height: 100%;

  letter-spacing: 3%;

  text-transform: uppercase;
}
ul.help-list li p {
  font-family: "Roboto", sans-serif;

  font-weight: 400;

  font-size: 14px;

  line-height: 24px;

  letter-spacing: 3%;
}
figure h2 {
  font-family: "Roboto", sans-serif;

  font-weight: 500;

  font-size: 16px;

  line-height: 100%;

  letter-spacing: 3%;

  text-align: center;
}
figure p {
  font-family: "Roboto", sans-serif;

  font-weight: 400;

  font-size: 16px;

  line-height: 100%;

  letter-spacing: 3%;

  text-align: center;
}
figure img {
  
  display: block;

  margin: 0 auto;
}
footer.footer div.containeralt p {
    font-family: "Roboto", sans-serif;

  font-weight: 500;

  font-size: 14px;

  line-height: 24px;

  letter-spacing: 3%;
}
footer.footer div.containeralt h1 {
  font-family: "Roboto", sans-serif;

  font-weight: 700;

  font-size: 26px;

  line-height: 100%;

  letter-spacing: 3%;
}
header.header div.container {
 font-family: "Roboto", sans-serif;

  font-weight: 700;

  font-size: 26px;

  line-height: 100%;

  letter-spacing: 3%;
}
button.hero-button {
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 30px;
letter-spacing: 6%;
text-align: center;
vertical-align: middle;

}




