footer{
  background-color: black;
}
footer p{
  color: white;
}
footer h2{
  color: white;
}


.footer .footer-container .footer-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 3%;
}

.footer .footer-container .footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 3%;
}

.gallery-figure_caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 3%;
}

.gallery-figure_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}

.header-help_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 2%;
  margin-right: 20px;
}

.header-help_link:last-child {
  margin-right: 0;
}

.header-nav_item a,
.header-nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 3%;
  text-align: center;
  margin-right: 20px;
}

.header-nav_link:last-child {
  margin-right: 0;
}

.header .header_container {
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 3%;
}
