@use "../utils/mixins";
@use "../utils/variables";

.container__button {
  padding: 12px 32px;
  background: variables.$accent-color;
  color: #fff;
  border: none;
  cursor: pointer;
  @include mixins.transition(background-color);
  &:hover {
    animation: pulse 1s infinite; 
  }
}
.close__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.send__btn {
  background: variables.$accent-color;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  @include mixins.transition(background-color);
}