@use "../utils/placeholders";
@use "../utils/mixins";
.footer {
  padding: 40px 0;
  background-color: var(--color-dark);
  &__title {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: var(--letter-3);
    color: var(--color-light);
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: var(--letter-3);
    color: var(--color-light);
  }
  &__section {
    margin-top: -10px;
    margin-left: 10px;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    li {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        background-color: #2196f3;
        border-radius: 50%;
        svg {
          fill: rgb(0, 0, 0);
        }
      }
    }
    svg {
      width: 20px;
      height: 20px;
      fill: black;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.address {
  background: #2f2f2f;
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
}