@use "../utils/placeholders";
@use "../utils/mixins";
@use "../utils/variables";

.footer {
  padding: 40px 0;
  background-color: variables.$color-dark;
  &__title {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: variables.$letter-3;
    color: variables.$color-light;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: variables.$letter-3;
    color: variables.$color-light;
  }
  &__section {
    margin-top: -10px;
    margin-left: 10px;
  }
  &__list {
    @extend %list;
    display: flex;
    justify-content: center;
    gap: 10px;
    li {
      width: 40px;
      height: 40px;
      @extend %flex-center;
      @include mixins.transition(background-color);
      &:hover {
        background-color: variables.$accent-color;
        border-radius: 50%;
        svg {
          fill: rgb(0, 0, 0);
        }
      }
    }
    svg {
      width: 20px;
      height: 20px;
      fill: black;
      @include mixins.transition(fill);
    }
  }
}
.address {
  background: #2f2f2f;
  color: #fff;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 120px;
}