.hero {
  background-color: #000;
  padding: 120px 0;
  text-align: center;
  background-image: linear-gradient(rgba(76, 76, 77, 0.4), rgba(47, 48, 58, 0.4)), url("/img/fon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    color: $white-color;
    animation: appearance 1s ease-out;
  }

  &__button {
    padding: 12px 32px;
    background: $accent-color;
    color: $white-color;
    border: none;
    cursor: pointer;
    transition: background-color 250ms $cubic-bezier;

    &:hover {
      animation: pulse 1s infinite;
    }
  }
}