@use "../utils/placeholders";
@use "../utils/mixins";
@use "../utils/variables";

.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-tablet.png");
  }

  @include mixins.desktop() {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/fon.png");
  }
}

.container__title {
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include mixins.desktop() {
    font-size: 44px;
    line-height: 1.36;
  }
}

.advantages {
  @include mixins.section-padding();

  &__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mixins.tablet() {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 100%;

    @include mixins.tablet() {
      width: calc((100% - 30px) / 2);
    }

    @include mixins.desktop() {
      width: calc((100% - 90px) / 4);
    }
  }
}

.work__section {
  display: none;

  @include mixins.desktop() {
    display: block;
    padding-bottom: 94px;
  }
}

.work__list {
  @extend %list;
  display: flex;
  gap: 30px;
}

.team__section {
  @include mixins.section-padding();
  background: #f3f3f6;
}

.team__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include mixins.tablet() {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.team__item {
  width: 100%;
  max-width: 450px;
  background: white;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include mixins.tablet() {
    width: calc((100% - 30px) / 2);
  }

  @include mixins.desktop() {
    width: calc((100% - 90px) / 4);
  }

  img {
    width: 100%;
    display: block;
  }
}

.clients__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  li {
    width: calc((100% - 30px) / 2);
    height: 92px;
    border: 1px solid #afb1b8;
    @extend %flex-center;

    @include mixins.tablet() {
      width: calc((100% - 60px) / 3);
    }

    @include mixins.desktop() {
      width: calc((100% - 150px) / 6);
    }
  }
}