:root {
  --main-font: "Roboto", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --accent-color: #2196f3;
  --dark: #212121;
  --text: #757575;
  --color-dark: #000;
  --color-light: #fff;
  --letter-3: 0.03em;
  --letter-6: 0.06em;
}