
$main-font: "Roboto", sans-serif;
$title-font: "Montserrat", sans-serif;
$accent-color: #2196f3;
$white-color: #ffffff;
$dark-color: #212121;
$text-color: #757575;
$bg-light-color: #f3f3f6; 
$bg-dark-color: #2f2f2f;  
$grey-color: #afb1b8;     
$border-color: #ececec;  
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;